<!DOCTYPE html>
<html lang="{{ metaData.lang }}">
  <head>
    <meta charset="{{ metaData.encoding }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or metaData.siteTitle }}</title>
    {% include "meta.njk" %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" />
  </head>
  <body>
    <div id="root" {% if pageClass %}class="{{ pageClass }}" {% endif %}>
      {% include "header.njk" %}
      <main class="site-main">
        {{ content | safe }}
      </main>
      {% include "footer.njk" %}
    </div>
    <script type="module" src="{{ '/assets/js/main.js' | url }}"></script>
  </body>
</html>
